.checkout {
  display: flex;
  height: max-content;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
.checkout-ads {
  width: 100%;
  margin-bottom: 10px;
  height: 15%;
  object-fit: cover;
}
.checkout-title {
    padding: 10px;
  margin-right: 10px;
  border-bottom: 1px solid gray;
}
